body{
    max-width: 1300px;
    margin: 0 auto !important;
    background-image: url('https://wallpapercave.com/wp/wp2757874.gif');
}


p{
    font-family: 'Roboto', sans-serif;
    font-size: 120%;
    width: 90%;
    max-width: 900px;
    letter-spacing: 0.2px;
    word-spacing: 0.8px;
    color: white;
    font-style: italic;
    position: relative;
    left: 5%;
}

img{
    max-width:100%;
    border-radius: 30px;
    border: 3px solid #7289da;
    margin-top: 30px;
    margin-bottom: 30px;
}

ul{
    width: 90%;
    max-width: 900px;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    letter-spacing: 0.2px;
    word-spacing: 0.8px;
    color: white;
}

h2{
    width: 90%;
    max-width: 900px;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    letter-spacing: 0.2px;
    word-spacing: 0.8px;
    color: white;
    font-style: italic;
    padding: 30px 20px 0px;
}


a{
    color: white;
}

a:hover {
    color: blueviolet;
}



/* Class */

.div-body{
    width: 90%;
    max-width: 1200px;
    background-color: transparent;
    border: 3px solid #7289da;
    border-radius: 15px;
    position: relative;
    left: 5%;
}

.emoji{
    font-style: normal;
}

#titulo{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: white;
    font-style: italic;
    letter-spacing: -0.4px;
    word-spacing: -0.2px;
    text-align: center;
    padding: 60px 20px 20px;
}

.div-discord-logo{
    position: relative;
    margin-top: -1407%;
    margin-left: 400px;
}

.discord-logo{
    width: 340px;
    border-radius: 700px;
}


/*  */


/* IDs */

#lista1, #lista2{
    padding:0px 0px 15px ;
}



/* scrooll */
::-webkit-scrollbar {
    width:10px;
    height: 10px;
}
     
    ::-webkit-scrollbar-track {
    background:#333;
}
     
    ::-webkit-scrollbar-thumb {
    background: #7289da;
}



@media screen and (min-width:1440px) {

    #sucesso{
        width: 50%;
        position: relative;
        left: 40%;
    }
    
    #passo2_img12{
        width: 70%;
        position: relative;
        left: 30%;
    }
    
    #passo2_img11{
        width: 50%;
        position: relative;
        left: 39%;
    }
    
    #passo2_img10{
        position: relative;
        left: 10%;
    }
    
    #passo2_img9{
        width: 100%;
        position: relative;
        left: 10%;
    }
    
    #api{
        position: relative;
        left: 10%;
    }
    
    #passo2_img7{
        width: 80%;
        position: relative;
        left: 20%;
    }
    
    #passo2_img5{
        width: 80%;
        position: relative;
        left: 20%;
    }
    
    #passo2_img4{
        width: 60%;
        position: relative;
        left: 28%;
    }
    
    #passo2_img3{
        width: 60%;
        position: relative;
        left: 28%;
    }
    
    #passo2_img2{
        position: relative;
        left: 30%;
    }
    
    #prefix{
        width: 50%;
        position: relative;
        left: 30%;
    }
    
    #passo2_img1{
        width: 70%;
        position: relative;
        left: 26%;
    }
    
    #passo1_img8{
        width: 40%;
        position: relative;
        left: 40%;
    }
    
    #passo1_img7{
        position: relative;
        left: 9%;
    }
    
    #passo1_img6{
        position: relative;
        left: 9%;
    }
    
    #passo1_img5{
        position: relative;
        left: 9%;
    }
    
    #passo1_img4{
        position: relative;
        left: 9%;
    }
    
    #passo1_img3{
        position: relative;
        left: 9%;
    }
    
    #passo1_img2{
        position: relative;
        left: 35%;
    }
    
    #passo1_img1{
        position: relative;
        left: 9%;
    }
    #github{
        width: 4%;
        border: none;
        padding-left: 480px;
        border-radius: 0px;
    }
    #instagram{
        width: 4%;
        border: none;
        border-radius: 0px;
    }
    #linkedin{
        width: 4%;
        border: none;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 0px;
    }
}



@media screen and (min-width: 1024px) and (max-width: 1400px) {

    #sucesso{
        position: relative;
        left: 26%;
    }
    
    #passo2_img12{
        width: 70%;
        position: relative;
        left: 20%;
    }
    
    #passo2_img11{
        width: 50%;
        position: relative;
        left: 30%;
    }
    
    #passo2_img7{
        width: 80%;
        position: relative;
        left: 15%;
    }
    
    #passo2_img5{
        width: 70%;
        position: relative;
        left: 20%;
    }
    
    #passo2_img4{
        width: 50%;
        position: relative;
        left: 30%;
    }
    
    #passo2_img3{
        width: 50%;
        position: relative;
        left: 29%;
    }
    
    #passo2_img2{
        position: relative;
        left: 24%;
    }
    
    #prefix{
        position: relative;
        left: 35%;
    }
    
    #passo2_img1{
        width: 50%;
        position: relative;
        left: 30%;
    }
    
   #passo1_img8{
       position: relative;
       left: 40%;
   } 
    
    #passo1_img2{
        position: relative;
        left: 25%;
    }

    #github{
        width: 5%;
        border: none;
        padding-left: 360px;
        border-radius: 0px;
    }
    #instagram{
        width: 5%;
        border: none;
        border-radius: 0px;
    }
    #linkedin{
        width: 5%;
        border: none;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 0px;
    }
    
}

@media screen and (min-width: 768px) and (max-width: 1020px) {

    #sucesso{
        position: relative;
        left: 10%;
    }
    
    #passo2_img11{
        width: 60%;
        position: relative;
        left: 20%;
    }
    
    #passo2_img4{
        width: 60%;
        position: relative;
        left: 20%;
    }
    
    #passo2_img3{
        width: 60%;
        position: relative;
        left: 20%;
    }

    #passo2_img2{
        position: relative;
        left: 12%;
    }
    
    #prefix{
        position: relative;
        left: 26%;
    }
    
    #passo2_img1{
        width: 70%;
        position: relative;
        left: 16%;
    }

    #passo1_img8{
        position: relative;
        left: 32%;
    }
    
    #passo1_img2{
        position: relative;
        left: 15%;
    }

    #github{
        width: 6%;
        border: none;
        padding-left: 240px;
        border-radius: 0px;
    }
    #instagram{
        width: 6%;
        border: none;
        border-radius: 0px;
    }
    #linkedin{
        width: 6%;
        border: none;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 0px;
    }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
    #passo1_img8{
        position: relative;
        left: 30%;
    }

    #prefix{
        position: relative;
        left: 5%;
    }
    
    #passo2_img3{
        width: 80%;
        position: relative;
        left: 10%;
    }
    
    #passo2_img4{
        width: 80%;
        position: relative;
        left: 10%;
    }

    #github{
        width: 10%;
        border: none;
        padding-left: 118px;
        border-radius: 0px;
    }
    #instagram{
        width: 10%;
        border: none;
        border-radius: 0px;
    }
    #linkedin{
        width: 10%;
        border: none;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 0px;
    }
}

@media screen and (min-width: 375px) and (max-width: 424px) {
    #passo2_img3{
        width: 90%;
        position: relative;
        left: 4%;
    }
    
    #passo1_img8{
        position: relative;
        left: 15%;
    }

    #passo2_img4{
        height: 200px;
        position: relative;
        left: 8%;
    }
    
    #passo2_img11{
        height: 230px;
        position: relative;
        left: 15%;
    }
    #github{
        width: 10%;
        border: none;
        padding-left: 96px;
        border-radius: 0px;
    }
    #instagram{
        width: 10%;
        border: none;
        border-radius: 0px;
    }
    #linkedin{
        width: 10%;
        border: none;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 0px;
    }
}


@media screen and (min-width: 320px) and (max-width: 360px)  {
    #passo1_img8{
        position: relative;
        left: 4%;
    }

    .logo{
        width: 50%;
        border-radius: 90px;
        position: relative;
        position: relative;
        top: -14870px;
        margin-left: 85px;
        
    }

    #titulo{
        font-family: 'Roboto', sans-serif;
        font-size: 24px;
        color: white;
        font-style: italic;
        letter-spacing: -0.4px;
        word-spacing: -0.2px;
        text-align: center;
        padding: 160px 20px 20px;
    }


    #github{
        width: 10%;
        border: none;
        padding-left: 80px;
        border-radius: 0px;
    }
    #instagram{
        width: 10%;
        border: none;
        border-radius: 0px;
    }
    #linkedin{
        width: 10%;
        border: none;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 0px;
    }
}
